/* start of variable */
/* end of variables */
/* start of global rules` */
*
{
  box-sizing: border-box;
  
}

body
{
  font-family: 'Work Sans', sans-serif;
}
/* end of global rules */

.parent
{
  background-color: #eee;
}