/** start of variable **/
/** end of variables **/

/** start of global rules` **/
*
{
  box-sizing: border-box;
  
}

body
{
  font-family: 'Work Sans', sans-serif;
}

/* Main Container */
.container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .logo
{
  width: 60px;
}

/** Start media query **/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{ .container{width: 562px;} }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{ .container{width: 750px;} }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{ .container{width: 970px;} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{ .container{width: 1170px;} }

/** End media query **/

/** End of global rules **/

/** Start Header **/

.header
{
  padding: 20px;
}

.header .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .links .icon
{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
}

.header .container .links .icon span
{

  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

.header .container .links .icon span:first-child
{
  width: 100%;
}

.header .container .links .icon span:nth-child(2)
{
  width: 60%;
}

.header .container .links .icon span:last-child
{
  width: 100%;
}
/** End Header **/