/* start of variable */
/* end of variables */
/* start of global rules` */
*
{
  box-sizing: border-box;
  
}

body
{
  font-family: 'Work Sans', sans-serif;
}
/* end of global rules */

.parent
{
}

.container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eee;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{
  .container{width: 0px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }