/** start of variable **/
/** end of variables **/

/** start of global rules` **/
*
{
  box-sizing: border-box;
  
}

body
{
  font-family: 'Work Sans', sans-serif;
}

/* Main Container */
.container
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/** Start media query **/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{ .container{width: 562px;} }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{ .container{width: 750px;} }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{ .container{width: 970px;} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{ .container{width: 1170px;} }

/** End media query **/

/** End of global rules **/

/** Start Header **/

.header
{
  padding: 20px;
}

.header .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo
{
  width: 60px;
}

.header .links
{
  position: relative;
}

.header .links ul
{
  background-color: #eee;
  padding: 15px;
  /* text-decoration: none; */
}

.header .links ul
{
  list-style: none;
  width: 200px;
  padding: 0;
  margin:0;
}

.header .links ul li
{
  margin: 15px;
  display: block;
}

.header .links ul li:not(:last-child)
{
  border-bottom: 1px solid #333;
}

.header .links ul a
{
  /* position:absolute; */
  text-decoration: none;
  color: #333;
  margin-bottom: 15px;
  transition: 0.3s;
}

.header .links ul li:hover a
{
  padding-left: 20px;  
}

.header .links .icon
{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span
{
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
  transition: .6s;
}

.header .container .links .icon span:first-child
{
  width: 100%;
}

.header .container .links .icon span:nth-child(2)
{
  width: 60%;
  transition: .6s;
}

.header .container .links .icon span:last-child
{
  width: 100%;
}

.header .container .links:hover .icon span:nth-child(2)
{
  width: 100%;
}

/** End Header **/