*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.product
{
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
}

.product .number
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00aaa7;
    display: flex;
    justify-content: center;
    align-items: center;
}