*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

button
{
    margin: 100px auto;
    padding: 10px 20px;
    display: block;
    background-color: #eee;
    border: none;
    cursor: pointer;
}

button span
{
    background-color: #333;
    color: white;
    padding: 10px 15px;
    left: -50%;
}