*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

button
{
    margin: 100px auto;
    padding: 10px 20px;
    display: block;
    background-color: #eee;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 40px;
    overflow: hidden;
}

button span
{
    background-color: #333;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    min-width: 240px;
    padding: 10px 15px;
    top: -80px;
    transition: .6s;
    opacity: 0;
}

button span::before
{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

button:hover span
{
    overflow: visible;
    opacity: 1;
}

button:hover
{
    overflow: visible;
}
